  
body {
  padding: 50;
  margin: 0;
  background-color: rgba(238, 237, 237, 0.753);
  /*background-image: url("../../images/background2.png")*/
}
 
.intro-block {
  background-image: url("../../images/background2.png")
}

.jbnu-bk {
  position: relative;
  height: 700px;
  padding: 20px;
  margin: 0;
  background: black;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  background-image: url("../../images/background2.png")
}

.jbnu-bk h5 {
  font-size: 24px
}

.jbnu-bk p {
  font-size: 18px
}

h1{
  color:rgb(red, green, blue);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  /*font-size: x-large;*/
  font-weight: bold;
}

h3{
  color:rgb(red, green, blue);
  font-family: serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
}

h4{
  color:rgb(red, green, blue);
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: x-large;
  font-weight: bold;
}

.card-title {
  font-family: sans-serif;
  font-weight: bold;
}

h5{
  color:rgb(red, green, blue);
  /*font-family: serif;
  padding-top: 10px;*/
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
  /*font-size: large;*/
  /*font-weight: bold;*/
}

.p-tiny{
  font-size: 0.8em;
  text-align: center;
  padding-top: 10px
}

.p-cite {
  color:rgb(red, green, blue);
  text-decoration: underline;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

.body-font {
  font-family: sans-serif;
  font-size: 12px;
  /*font-weight: bold;*/
  text-align: left;
  /*padding: 5px;*/
}

ul {
  list-style-type: disc;
  margin: 0;
  padding: 5;
  line-height: 27px;
  overflow: hidden;
}

li {
  padding: 3;
  float: left;
}

a {
  color: black
}

a:link {
  color: black;
  /*background-color: transparent;*/
  text-decoration: none;
}

/*
a:visited {
  color: purple;
  text-decoration: none;
}*/

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.btn:link {
  color: white
}
.btn-primary {
  background-color: rgb(33, 48, 85);
  border-color:  rgb(33, 48, 85);
  color: white
}
.card-big {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px
}

.wav-img {
  display: block;
  width: 60%;
  height: auto;
  margin-top: 0;
  margin-right: 10
}

.wav-img-left {
  display: block;
  width: 60%;
  height: auto;
  margin-top: 0;
  margin-right: 10px;
  padding: 5;
  float: left
}

.wav-img-right {
  display: block;
  width: 60%;
  height: auto;
  margin-top: 0;
  margin-left: 10px;
  padding: 5;
  float: right
}

.paper-img-right {
  /*display: block;*/
  width: 25%;
  height: auto;
  margin-top: 0;
  margin-left: 10px;
  padding: 5;
  float: right
}






.align-center {
  display: block;
  margin-right: auto;
  margin-left: auto
}

.jbnu-img {
  width: 80%;
  height: auto;
  margin-top: 0;
  /*display: block;
  margin-right: auto;
  margin-left: auto*/
}

.icon-img {
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.3
}

.center-img {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code {
  color: black;
  background-color: rgba(240, 240, 240, 0.801);
}

.code-box{
  padding: 5px;
  background-color: rgba(240, 240, 240, 0.801);
}


#popup span {
    position: relative;
  display: block;
  /*
    width: 130px;
    line-height: 30px;
    text-align: right;
    padding: 0 10px;
    margin: 0;
    border: 1px solid #666;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;*/
}
#popup span span {
  display: none;
}

#popup span:hover span {
  display: block;
  position: absolute;
  top: 0px;
  width: 60%; /*320px;*/
  /*
    margin: 0px;
    padding: 10px;
    color: #335500;
    font-weight: normal;
    background: #e5e5e5;
    text-align: left;
    border: 1px solid #666;  */
}

@media (max-width: 760px) {

  .jbnu-bk {
  position: relative;
  height: 500px;
  padding: 10px;
  margin: 0;
  background: black;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  background-image: url("../../images/background2.png")
  
  }
  
  .jbnu-bk h5 {
    font-size: 18px
  }

  .jbnu-bk p {
    font-size: 10px
  }

}